/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

.fixed-topnav ~ .section-portfolio {
    padding-top: 30px;
}

.section-portfolio h2{
	margin-bottom: 5px;
}

/*.port-container
     {
     width:auto;
     height:250px; 
     display:block; 
     position:relative;
     overflow:hidden;
     }
.port-container .img-responsive 
    {
     position:absolute;
     top:0;
     left:0; 
     width:100%;
     }*/

.mfp-auto-cursor .mfp-content .container{
    cursor: auto;
    background-color: white;
}

.justify{
    text-align:justify;
    margin-right:20px;
}